<!--the state that changes
Default is default images-->
<div id="preview-container">
  <!-- Preview  -->
  <img id="accessory" src="../assets/images/accessories/headphone.png" alt="" class="accessory" />
  <img id="ear" src="../assets/images/ears/default.png" alt="" class="ear" />
  <img id="hair" src="../assets/images/hair/default.png" alt="" class="hair" />
  <img id="nose" src="../assets/images/nose.png" alt="" class="nose" />
  <img id="eye" src="../assets/images/eyes/default.png" alt="" class="eye" />
  <img id="mouth" src="../assets/images/mouth/default.png" alt="" class="eye" />
  <img id="neck" src="../assets/images/neck/default.png" alt="" class="neck" />
  <img id="leg" src="../assets/images/leg/default.png" alt="" class="leg" />
  <!-- End Prevew -->
</div>
